.headerbar-main {
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
	height: 48px;
}

.headerbar-item {
	display: flex;
	justify-content: center;
}

.headerbar-item-time {
	display: flex;
	position: absolute;
}

.date-display {
	color: #ffffff;
	font-weight: 300;
	margin-left: 32px;
	margin-right: 100px;
}

.time-display {
	color: #ffffff;
	font-weight: 400;

}

.second,
.minute,
.hour {
	display: inline-flex;
	margin-right: 2px;
}

.minute::after,
.hour::after {
	content: ":";
	margin-left: 2px;
}