.itemview-main {
	border-top: solid #a5a5a545 1px;
}

.display-title {
	color: #ffffff;
}

.itemview-left,
.itemview-center,
.itemview-right {
	min-height: calc(100vh - 50px);
	max-height: calc(100vh - 50px);
}
.itemview-left,
.itemview-center {
	border-right: solid #a5a5a545 3px;
}

.category-list,
.item-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #ffffff;
	font-size: 28px;
	text-align: left;
	min-height: calc(88vh - 50px);
	max-height: calc(88vh - 50px);
	overflow: auto;
}

.category-list-element,
.item-list-element {
	margin: 0;
	padding: 12px;
	border-bottom: solid 1px #a5a5a545;
}

.item-list-element {
	display: flex;
	justify-content: space-between;
}

.category-list-element:hover,
.item-list-element:hover {
	background-color: #363636;
}

.item-list-element:active {
	background-color: #797979;
}

.category-list-element-active {
	background-color: #797979;
}

.category-list-element-active:hover {
	background-color: #797979;
}

.item-list-element-name,
.item-list-element-price {
	display: inline-flex;
}

.category-panel,
.item-panel {
	margin: 0;
	padding: 2% 0;
	border-top: solid 3px #a5a5a545;
	color: #ffffff;
	min-height: calc(12vh);
	max-height: calc(12vh);
	display: flex;
	align-items: center;
  	justify-content: center;
}