.tableview-main {
	border-top: solid #a5a5a545 1px;
}

.display-title {
	color: #ffffff;
}

.view-left,
.view-center,
.view-right {
	min-height: calc(100vh - 50px);
}
.view-left,
.view-center {
	border-right: solid #a5a5a545 1px;
}


.table-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #ffffff;
	font-size: 28px;
	text-align: left;
}

.table-list-item {
	margin: 0;
	padding: 12px;
	border-bottom: solid 2px #a5a5a545;
}

.table-list-item:hover {
	background-color: #363636;
}

.table-list-item-active {
	background-color: #797979;
}

.table-list-item-active:hover {
	background-color: #797979;
}