.confirm-btn {
	display: inline-flex;
	border-radius: 6px;
	margin: 0 2%;
	height: 100%;
	width: 100%;
	font-size: 36px;
	font-weight: 600;
	align-items: center;
  	justify-content: center;
  	gap: 2%;
}

.confirm-btn {
	background-color: #009c29;
}
.confirm-btn:active {
	background-color: #1ab542;
}

.confirm-icon {
	display: flex;
	fill: #ffffff;
}