.keypad-backspace-icon {
	height: 64px;
	width: 64px;
	fill: currentColor;
}

.keypad-enter-icon {
	margin-top: 4px;
	height: 64px;
	width: 64px;
	fill: currentColor;
}

.keypad-container {
	max-width: 80%;
	padding: 0 !important;
}

.keypad-btn {
	display: flex;
	margin: 10px 0;
	height: 84px;
	width: 84px;
	font-size: 32px;
	font-weight: 600;
	border-radius: 64px;
	border: solid 2px #a5a5a545;
	background-color: #202020;
	color: #ffffff;
	align-items:center;
    justify-content:center;
    cursor: pointer;
}

.keypad-btn:hover {
	background-color: #363636;
}

.keypad-btn:active {
	background-color: #797979;
}